@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
:root {
    --font-main: 'Poppins', sans-serif;
    --font-secondary: 'Open Sans', sans-serif;
    --color-bg-1: #E6E8EC;
    --color-bg-2: #0A244B;
    --color-bg-3: #E6E8EC;
    --color-bg-4: #3763A4;
    --color-white: #fff;
    --color-black: #27292D;
    --color-font-1: #767672;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    font-size: 10px;
}
body {
    font-family: var(--font-main);
    font-size: 1.6rem;
    background-color: var(--color-white);
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    max-width: 114rem;
    margin: 0 auto;
    padding: 0rem 1rem;
}

/* Navegation Bar */
.nav {
    width: 100%;
    height: 100%;
    font-family: var(--font-main);
    color: var(--color-font-1);
}
.nav_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_logo {
    width: 93px;
    height: 121.323px;
    flex-shrink: 0;
    margin-bottom: 1.5%;
    margin-top: 0.5%;
}
.superior_list {
    background: #1340B1;
    display: flex;
    margin-top: -8%;
    margin-right: -120%;
    width: 31%;
    height: 55px;
    align-items: center;
    justify-content: center;
}
.superior_link {
    color: white;
}
.rectangle_superior {
    width: 2px;
    height: 10px;
    background: white;
    margin-top: 2.5px;
}
.superior_link {
    color: var(--color-white);
    transition: color 0.3s;

}
.superior_link:hover {
    color: var(--color-font-1); /* Cambia el color del texto al pasar el mouse sobre el enlace */
}

.nav_list {
    display: flex;
    margin-bottom: -7%;
    margin-right: 0.5%;
    display: flex;
}
.nav_item {
    margin-left: 2rem;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}
.nav_link {
    color: var(--color-black);
    transition: color 0.3s;

}
.nav_link:hover {
    color: #1340B1; /* Cambia el color del texto al pasar el mouse sobre el enlace */
}

.rectangle_nav {
    width: 2px;
    height: 20px;
    background: #1340B1;
}

.buttonClass {
    color:#fff;
    border-color:#84bbf3;
    border-radius: 42px;
    background:linear-gradient(162deg, #1370DE, #040273);
    padding: 7px 15px 7px 15px;
}

/* Header */
.header {
    font-family: var(--font-main);
    width: 100%;
    height: 470px;
    background-color: var(--color-bg-3);
    color: #27292D;
    
}
.splide_img{
    height: 470px;
}

/* Enrollment Section */
.section_enrollment {
    width: 100%;
    height: 100%;
    margin-top: 45px;
}
.section_enrollment_mini {
    display: flex;
    margin-top: 65px;
    margin-bottom: 150px;
}
.section_enrollment_title {
    font-size: 44px;
    font-weight: 700;
    color: #1340B1;
    margin-right: 20%;
}
.pages_cards {
    display: flex;
    justify-content: space-between;
}
.cards {
    display: grid;
    width: 28%;
    height: 150px;
    justify-items: center;
    align-content: center;
    border: 1px solid #555;
    color: #555;
    transition: color 0.5s;
}
.cards:hover {
    border: 1px solid #DD3438;
    color: #DD3438;
}
.cards:hover .card_image_vector path {
    stroke: #DD3438; /* Cambia el color del contorno del SVG */
}
.cards:hover .card_image_vector_2 path {
    stroke: #DD3438; /* Cambia el color del contorno del SVG */
}
.card_image_vector {
    width: 22%;
    stroke: #555;
}
.card_image_vector_2 {
    width: 30%;
    stroke: #555;
}

.card_name {
    margin-bottom: 0px;
    margin-top: 15px;
}
.card_name_title {
    text-align: center;
    font-weight: 600;
    font-size: 25px;
}
.card_name_sub {
    text-align: center;
    font-weight: 600;
    font-size: 13px;
}

/* Location Mini Section */
.location_text{
    color: #555;
    font-style: normal;
    line-height: normal;
}
.location_title{
    font-weight: 600;
    font-size: 29px;
}
.location_parr{
    font-weight: 600;
    font-size: 12px;
    white-space: pre-line;
}
.location_image{
    margin-left: 100px;
}

.line_1{
    width: 1117px;
    height: 1px;
    background: #555;
}

/* Grades Mini Section*/
.section_grades_title {
    font-size: 44px;
    font-weight: 700;
    color: #1340B1;
    margin-right: 20%;
    white-space: pre-line;
}
.line_2{
    width: 300px;
    height: 1px;
    transform: rotate(-90deg);
    background: #555;
    margin-left: -300px;
    margin-top: 100px;
}

.grades_cards {
    margin-left: -7%;
    display: flex;
    justify-content: space-between;
}
.grades {
    display: grid;
    width: 27%;
    justify-items: center;
    align-content: center;
    color: #555;
}
.grades_image {
    width: 240px;
}
.grades_name {
    margin-bottom: 0px;
    margin-top: 15px;
}
.grades_name_title {
    text-align: center;
    font-weight: 600;
    font-size: 25px;
}
.grades_name_sub {
    text-align: center;
    font-weight: 600;
    font-size: 13px;
}

/* Opinion Mini Section*/
.section_opinion {
    width: 100%;
    height: 100%;
    margin-bottom: 35px;
}
.section_opinion_title {
    font-weight: 700;
    color: #1340B1;
    margin-bottom: 30px;
}
.opinion_name_title {
    text-align: center;
    font-weight: 600;
    font-size: 44px;
}
.opinion_name_sub {
    text-align: center;
    font-weight: 600;
    font-size: 29px;
}

.splide__slide{
    display: grid;
    justify-items: center;
    align-content: center;
}

.opinion_card {
    background-color: #D9D9D9;
    width: 331px;
    height: 293px;
    border-radius: 30px;
    padding: 16px 40px 30px 30px;
    
}
.opinion_card_stars{
    margin-top: 6px;
    margin-bottom: 6px;
    text-transform: uppercase;
}
.opinion_card_name {
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 0px;
    margin-top: 15px;
}
.opinion_card_parr {
    font-weight: 500;
    font-size: 12px;
    white-space: pre-line;
}

/* footer */
.footer {
    margin-top: 10px;
    background-color: var(--colo-dark-1);
    position: relative;
}
.footer_container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 3rem;
    padding: 5rem 0rem;
    color: var(--colo-white-1);
}
.footer_logo {
    font-size: 3rem;
    color: var(--colo-white-1);
    font-weight: 700;
}
.footer_p {
    margin-top: 1.2rem;
}
.footer_item_titl {
    margin-bottom: 1.2rem;
}
.footer_list_item {
    margin: 0.5rem 0rem;
}
.footer_bottom_container {
    width: 100%;
    text-align: center;
}
.footer_copy {
    color: var(--colo-dark-2);
    padding: 1.5rem 0rem;
}
.jn_logo_footer {
    width: 75%;
}
.first_bg_footer{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}



/*============== Enrollment Page ==============*/
/* Enrollment Section */
.section_process_enrollment_mini {
    margin-top: 65px;
    margin-bottom: 150px;
}
.section_process_enrollment_title {
    font-size: 44px;
    font-weight: 600;
    color: #1340B1;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 63px;
}

.pages_process_cards {
    display: flex;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 5%;
}
.cards_process{
    display: grid;
    width: 28%;
    height: 175px;
    justify-items: center;
    align-content: center;
    border: 1px solid #555;
    color: #555;
    transition: color 0.5s;
}
.cards_process:hover {
    border: 1px solid #DD3438;
    color: #DD3438;
}
.cards_process:hover .card_image_vector path {
    stroke: #DD3438; /* Cambia el color del contorno del SVG */
}
.cards_process:hover .card_image_vector_2 path {
    stroke: #DD3438; /* Cambia el color del contorno del SVG */
}
.card_name {
    margin-bottom: 0px;
    margin-top: 15px;
}
.card_name_title {
    text-align: center;
    font-weight: 600;
    font-size: 25px;
}
.card_name_sub {
    text-align: center;
    font-weight: 600;
    font-size: 13px;
}

.cards_process_active{
    display: grid;
    width: 28%;
    height: 175px;
    justify-items: center;
    align-content: center;
    border: 1px solid #DD3438;
    color: #DD3438;
}
.card_image_vector_active {
    width: 30%;
    stroke: #DD3438;
}

.cards_grades{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28%;
    height: 40px;
    color: #000000;
    background-color: #D9D9D9;
    transition: color 0.2s; 
}
.cards_grades:hover {
    color: #D9D9D9;
    background-color: #DD3438;
}
.card_grade_name {
    text-align: center;
    font-weight: 500;
    font-size: 13px;
}

/* Intructions Section */
.instructions_enrollment{
    display: grid;
    grid-template-rows: 70%;
    grid-template-columns: 40% 40%;
    font-size: 13px;
    font-weight: 600;
    color: #555;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 24%;
}

.step_instruction{
    font-size: 13px;
    font-weight: 600;
    color: #555;
    margin-top: 10px;
    margin-bottom: 10px;
}
.step_name{
    font-size: 12px;
    font-weight: 500;
    color: #DD3438;
    margin-top: 10px;
    margin-bottom: 10px;
}
.step_text{
    font-size: 12px;
    font-weight: 500;
    color: #555;
    margin-top: 10px;
    margin-bottom: 10px;
    white-space: pre-line;
}
.instructions_enrollment_unique{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    color: #555;
    text-align: center; /* Centra el elemento */
}
.step_instruction_unique{
    font-size: 13px;
    font-weight: 500;
    color: #555;
}